@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,800&family=Montserrat:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: hsl(30, 38%, 92%);
    color: hsl(212, 21%, 14%);
}

main{
    max-width: 640px;
    display: flex;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

main img{
    width: 50%;
    border-radius: 1rem 0 0 1rem;
    margin-right: 2rem;
}

main section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#texts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem;
}

#texts span{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

#texts h1{
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Fraunces', sans-serif;
    margin-bottom: 1rem;
}

#texts p{
    color: hsl(228, 12%, 48%);
}

#price-and-order{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#price{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

#price h2{
    color: hsl(158, 36%, 37%);
    margin-right: 1rem;
    font-size: 2rem;
    font-family: 'Fraunces', sans-serif;
    font-weight: 800;
}

#button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#button button{
    cursor: pointer;
    width: 90%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(158, 36%, 37%);
    border: none;
    border-radius: 1rem;
    transition: background .3s ease;
}

#button button img{
    width: 24px;
}

#button button span{
    color: white;
    font-weight: 800;
}

#button button:hover{
    background: hsl(158, 36%, 10%);
}